<header>
  <div class="tile">
    <a href="/" style="text-decoration: none;">
      <h1>GAME STORE</h1>
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/games/">GAME</a></li>
      <li><a href="/developers/">DEVELOPER</a></li>
      <li><a href="/login/">LOGIN</a></li>
      <li><a href="/games/admin">ADMIN</a></li>
      <li><a href="/logout/">LOGOUT</a></li>
    </ul>
  </nav>
</header>