<!DOCTYPE html>
<html lang="en">
  <%- include ( 'partialHead' ) %>
<body>
    <%- include ( 'partialHeader' ) %>
    <main>
        <div id="content">
            <article class="card">
                <center><h2>Game</h2></center>
                
                <table border="1" class="table table-dark table-striped" >
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Genre</th>
                      <th>Developer</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Genre</td>
                        <td>Developer</td>
                        <td><a href="/" class="btn btn-primary">Add Developer</a>  <a href="/"  class="btn btn-primary">Add Game</a>  <a href="/"  class="btn btn-danger">Delete</a></td>
                      </tr>
             
                  </tbody>
                </table>
                
            </article>
        </div>
    </main>
    <footer>
        <p>Work Smart. Play Hard</p>
    </footer>
</body>
</html>
