<!DOCTYPE html>
<html lang="en">
  <%- include ( 'partialHead' ) %>
<body>
  <%- include ( 'partialHeader' ) %>
  <main>
    <div class=private-slider>
      <div class=isi-slider>
        <img src="https://wonderfulengineering.com/wp-content/uploads/2014/07/HD-landscape-photographs-43.jpg" alt="Gambar 1">
        <img src="https://th.bing.com/th/id/Rf0a0faa5e3f74c5b767545e9075cbfff?rik=RR9YkN4vbSTWBg&riu=http%3a%2f%2fwallup.net%2fwp-content%2fuploads%2f2016%2f06%2f23%2f395292-landscape-photography-nature-mountains-moss-Milford_Sound-fjord-national_park-New_Zealand.jpg&ehk=tsamTS6YyRwc2RGG96eKJVisrOLyd8NH0TGjP1rMHC8%3d&risl=&pid=ImgRaw" alt="Gambar 2">
        <img src="https://wallpapertag.com/wallpaper/full/6/4/4/799842-landscape-computer-backgrounds-1920x1080-images.jpg" alt="Gambar 3">
      </div>
    </div>
  </main>
  <footer>
    <p>Work Smart, Play Hard</p>
</footer>
</body>
</html>