<!DOCTYPE html>
<html lang="en">
<%- include ( 'partials/partialHead' ) %>

    <body>
        <%- include ( 'partials/partialHeader' ) %>
            <main>
                <div id="content">
                    <article class="card">
                        <h2>Login</h2>
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label for="username">Username :</label>
                                <input type="text" class="form-control" id="username" name="username"><br>
                            </div>
                            <div class="form-group">
                                <label for="password">Password :</label>
                                <input type="password" class="form-control" id="password" name="password"><br>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </article>
                </div>
            </main>
            <footer>
                <p>Work Smart, Play Hard</p>
            </footer>
    </body>

</html>