<header>
    <div class="tile">
    	<h1>GAME STORE</h1>
  </div>
  <nav>
      <ul>
          <li><a href="/">GAME</a></li>
          <li><a href="/">DEVELOPER</a></li>
					<li><a href="/">LOGIN</a></li>
      </ul>
  </nav>
</header>